body{
	margin: 0;
	text-align: center;
	background-color: white;
}
header{
	align-content: center;
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}
h2{
	font-size: 30;
	color: grey;
	font-family: 'Alice', serif;
}

p{
	font-family: 'Playfair Display', serif;
	font-size: 10px;
	max-width: 300px;
	margin: 0 auto;
}
